{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./app"
                ],
                "alias": {}
            }
        ],
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties"
    ]
}