<div class="footer">
    <a class="footer-copy">ПриветТур! © 2022</a>
    <div class="footer-list">
        <a class="footer-link">Перейти на privettur.ru</a>
        <a class="footer-link">О Компании</a>
        <a class="footer-link">Отзывы о сайте</a>
        <a class="footer-link">Обратный звонок</a>
        <a class="footer-link">Разместить объект</a>
        <a class="footer-link footer-link_blue">+79181398929</a>
    </div>
</div>