<div class="main-works">
    <div class="j-container">
        <div class="main-works-wrapper">
            <div class="main-works-title">Как мы работаем?</div>
            <div class="main-works-list">
                <div class="main-works__item">
                    <div class="main-works__item-number">01</div>
                    <div class="main-works__item-body">
                        После регистрации Вы получаете <span data-display="inline" data-lg="block" data-md="inline"></span>
                        <a>доступ к личному кабинету</a> и размещаете свой объект. Наш менеджер помогает довести наполнение и оформление вашего объекта до идеального состояния.
                    </div>
                </div>
                <div class="main-works__item">
                    <div class="main-works__item-number">02</div>
                    <div class="main-works__item-body">
                        После публикации на «ПриветТур» Вы видите <a>идеальную презентацию</a> вашего объекта «глазами клиента» и только после этого оплачиваете годовое размещение.
                    </div>
                </div>
                <div class="main-works__item">
                    <div class="main-works__item-number">03</div>
                    <div class="main-works__item-body">
                        Получаете заявки со всей России по телефону, электронной почте, смс или <a class="ui-link ui-link_green">WhatsApp</a> — любым удобным способом. Фиксируете оплату, даты брони и другую информацию в личном кабинете.
                    </div>
                </div>
            </div>
            <div class="main-works-decoration"></div>
        </div>
    </div>
</div>