{# {% from "components/icon.njk" import icon %}
{{ icon("example", "example") }} #}

<header class="header">
    <div class="j-container">
        <div class="header-wrapper">
            <a href="https://privettur.ru/" target="_blank" class="header-logo">
                <img target="_blank" src="/assets/img/logo/index.svg" alt="ПриветТур!">
            </a>
            <div class="header-auth">
                <a href="https://privettur.ru/" target="_blank" class="header-auth-label">Перейти на privettur.ru</a>
                <button target="_blank" class="ui-button ui-button_accent header-auth-button" data-ripplet>Войти</button>
            </div>
        </div>
    </div>
</header>