<div class="main-preview">
    <div class="j-container">
        <div class="main-preview-wrapper">
            <div class="main-preview-content">
                <div class="main-preview-title">
                    Найдем благодарных гостей для
                    <span class="main-preview-title-decoration" data-display="inline" data-xs="block">Вашего</span>
                    жилья на <a >ПриветТур.ру</a>
                </div>
                <div class="main-preview-label">
                    Поможем и ответим на все вопросы
                </div>
                <div class="main-preview-form">
                    <div class="ui-input-group">
                        <label class="ui-input-label ui-input-label_top">Телефон</label>
                        <input class="ui-input ui-input_size-lg" type="text" placeholder="Ваш номер телефона">
                    </div>
                    <button class="ui-button ui-button_accent ui-button_size-lg" data-ripplet data-modal-target="phone">
                        Заказать звонок
                    </button>
                </div>
                <div class="main-preview-description">
                    закажите звонок, или напишите нам <br> в
                    <a class="ui-link ui-link_green">WhatsApp</a>
                </div>
            </div>
            <div class="main-preview-waves-decoration"></div>
            <div class="main-preview-image"></div>
        </div>
    </div>
</div>