<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

        <title>{{ title }}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        {% for name, item in bundles.css %}
            <link rel="stylesheet" href="{{ item }}">
        {% endfor %}
    </head>

    <body>

        {% block header %}
            {% include "components/header/index.njk" %}
        {% endblock %}

        <main class="main">
            <div class="main-wrapper">
                {% block content %}{% endblock %}
            </div>
        </main>

        {% for name, item in bundles.js %}
            <script src="{{ item }}"></script>
        {% endfor %}
    </body>
</html>