.svg-social-dzen {
	background: url("svg/sprite.view-7ccf449c.svg") 0 0 no-repeat;
}

.svg-social-dzen-dims {
	width: 44px;
	height: 44px;
}

.svg-social-instagram {
	background: url("svg/sprite.view-7ccf449c.svg") 100% 0 no-repeat;
}

.svg-social-instagram-dims {
	width: 44px;
	height: 44px;
}

.svg-social-vk {
	background: url("svg/sprite.view-7ccf449c.svg") 0 100% no-repeat;
}

.svg-social-vk-dims {
	width: 44px;
	height: 44px;
}

.svg-social-whatsapp {
	background: url("svg/sprite.view-7ccf449c.svg") 100% 100% no-repeat;
}

.svg-social-whatsapp-dims {
	width: 44px;
	height: 44px;
}

