<div class="main-advantage">
    <div class="j-container">
        <div class="main-advantage-wrapper">
            <div class="main-advantage-title">Наши преимущества</div>
            <div class="main-advantage-list">
                <div class="main-advantage__item">
                    <div class="main-advantage__item-title">Поддержка и помощь <span data-display="block"></span> в продвижении</div>
                    <div class="main-advantage__item-text">Наши специалисты сделают ваш объект привлекательнее для гостей</div>
                </div>
                <div class="main-advantage__item">
                    <div class="main-advantage__item-title">Забота о вашей репутации</div>
                    <div class="main-advantage__item-text">Решаем проблемные ситуации отдыхающих, уведомляем о правилах бронирования и отмены</div>
                </div>
                <div class="main-advantage__item">
                    <div class="main-advantage__item-title">Лояльность гостей </div>
                    <div class="main-advantage__item-text">Работаем без скрытых <span data-display="block"></span> комиссий и переплат</div>
                </div>
            </div>
        </div>
    </div>
</div>