{# {% from "utils/icon.njk" import icon %} #}

<div class="main-ask">
    <div class="j-container">
        <div class="main-ask-wrapper">
            <div class="main-ask-title">Часто задаваемые вопросы</div>
            <div class="main-ask-list">
                <div class="j-accordion" data-name="ask" data-active="true">
                    <div class="j-accordion-panel main-ask-item">
                        <div class="j-accordion-tab">
                            <div class="main-ask-item__title">Как мой объект найдут клиенты?</div>
                            <div class="main-ask-item__arrow">
                                <span class="icon icon-arrow-angle"></span>
                            </div>
                        </div>
                        <div class="j-accordion-content">
                            <div class="main-ask-item__body">
                                Посетители придут из поисковых систем (Яндекс, Google), социальных сетей («ВКонтакте», «Instagram»), партнерских программ, почтовых рассылок от Retail Rocket. Мы работаем со всеми каналами трафика, и наша цель — обеспечить 1000 просмотров вашего объекта заинтересованными клиентами, что равно минимум 5 (пяти) клиентам «в деньги».
                            </div>
                        </div>
                    </div>
                    <div class="j-accordion-panel main-ask-item">
                        <div class="j-accordion-tab">
                            <div class="main-ask-item__title">Мой объект находится в списке объектов ниже других, и значит, его видит меньшее количество людей?</div>
                            <div class="main-ask-item__arrow">
                                <span class="icon icon-arrow-angle"></span>
                            </div>
                        </div>
                        <div class="j-accordion-content">
                            <div class="main-ask-item__body">
                                Посетители придут из поисковых систем (Яндекс, Google), социальных сетей («ВКонтакте», «Instagram»), партнерских программ, почтовых рассылок от Retail Rocket. Мы работаем со всеми каналами трафика, и наша цель — обеспечить 1000 просмотров вашего объекта заинтересованными клиентами, что равно минимум 5 (пяти) клиентам «в деньги».
                            </div>
                        </div>
                    </div>
                    <div class="j-accordion-panel main-ask-item">
                        <div class="j-accordion-tab">
                            <div class="main-ask-item__title">Когда мой объект появится на сайте?</div>
                            <div class="main-ask-item__arrow">
                                <span class="icon icon-arrow-angle"></span>
                            </div>
                        </div>
                        <div class="j-accordion-content">
                            <div class="main-ask-item__body">
                                Посетители придут из поисковых систем (Яндекс, Google), социальных сетей («ВКонтакте», «Instagram»), партнерских программ, почтовых рассылок от Retail Rocket. Мы работаем со всеми каналами трафика, и наша цель — обеспечить 1000 просмотров вашего объекта заинтересованными клиентами, что равно минимум 5 (пяти) клиентам «в деньги».
                            </div>
                        </div>
                    </div>
                    <div class="j-accordion-panel main-ask-item">
                        <div class="j-accordion-tab">
                            <div class="main-ask-item__title">Чем вы лучше других сайтов?</div>
                            <div class="main-ask-item__arrow">
                                <span class="icon icon-arrow-angle"></span>
                            </div>
                        </div>
                        <div class="j-accordion-content">
                            <div class="main-ask-item__body">
                                Посетители придут из поисковых систем (Яндекс, Google), социальных сетей («ВКонтакте», «Instagram»), партнерских программ, почтовых рассылок от Retail Rocket. Мы работаем со всеми каналами трафика, и наша цель — обеспечить 1000 просмотров вашего объекта заинтересованными клиентами, что равно минимум 5 (пяти) клиентам «в деньги».
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-ask-decoration"></div>
        </div>
    </div>
</div>