<div class="main-house">
    <div class="j-container">
        <div class="main-house-wrapper">
            <div class="main-house-title">Подход к каждому типу жилья</div>
            <div class="main-house-container">
                <div class="main-house-image">
                    <picture>
                        <img src="/assets/img/house/house-xl-min.png" alt="">
                    </picture>
                </div>
                <div class="main-house-content">
                    <div class="j-tabs" data-theme="house">
                        <div class="j-tab-wrapper">
                            <div class="j-tab-content main-house-content__list" data-tab="Гостевые_дома" data-active>
                                <div class="main-house-content__title">Гостевые дома</div>
                                <div class="main-house-content__body">
                                    <ul>
                                        <li>С нашим позиционированием объект с маленьким номерным фондом будет востребован среди гостей</li>
                                        <li>Разные варианты сотрудничества</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="j-tab-content" data-tab="Базы_отдыха">
                                <div class="main-house-content__title">Базы отдыха</div>
                                <div class="main-house-content__body">
                                    <ul>
                                        <li>Целый раздел внутри сайта.</li>
                                        <li>Специально отведенная линия в колл-центре</li>
                                        <li>Консультация по предоставляемым услугам на территории объекта. Уникальное отображение востребованных услуг в общем списке объектов.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="j-tab-content" data-tab="Отели">
                                <div class="main-house-content__title">Отели</div>
                                <div class="main-house-content__body">
                                    <ul>
                                        <li>Приоритетное отображение на сайте</li>
                                        <li>Привязка к сети отелей</li>
                                        <li>Возможность детальных описаний услуг: конференц-залы, бассейн, рестораны и так далее</li>
                                        <li>Подключение через менеджер каналов - TravelLine</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="j-tab-content" data-tab="Хостелы">
                                <div class="main-house-content__title">Хостелы</div>
                                <div class="main-house-content__body">
                                    <ul>
                                        <li>Удобная продажа койко-мест для бюджетных путешественников.</li>
                                        <li>Умная сортировка: хостел будет отображаться в нескольких подборках.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="j-tab-content" data-tab="Санатории">
                                <div class="main-house-content__title">Санатории</div>
                                <div class="main-house-content__body">
                                    <ul>
                                        <li>Целый раздел внутри сайта</li>
                                        <li>Возможность подробно отобразить на сайте профиль лечения, диагностическую и лечебную базы (в разработке)</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="j-tab-content" data-tab="Квартиры_и_аппартаменты">
                                <div class="main-house-content__title">Квартиры и аппартаменты</div>
                                <div class="main-house-content__body">
                                    <ul>
                                        <li>Большая вероятность участвовать в разных подборках на сайте</li>
                                        <li>Разные варианты сотрудничества</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="j-tabs-list">
                            <button class="j-tab main-house-content__tab" data-src="/modules/join/src/assets/img/house/house-xl-min.png" data-target="Гостевые_дома" data-active>Гостевые дома</button>
                            <button class="j-tab main-house-content__tab" data-src="/modules/join/src/assets/img/house/recreation_center.png" data-target="Базы_отдыха">Базы отдыха</button>
                            <button class="j-tab main-house-content__tab" data-src="/modules/join/src/assets/img/house/hotel.png" data-target="Отели">Отели</button>
                            <button class="j-tab main-house-content__tab" data-src="/modules/join/src/assets/img/house/hostel.png" data-target="Хостелы">Хостелы</button>
                            <button class="j-tab main-house-content__tab" data-src="/modules/join/src/assets/img/house/sanatorium.png" data-target="Санатории">Санатории</button>
                            <button class="j-tab main-house-content__tab" data-src="/modules/join/src/assets/img/house/apartment.png" data-target="Квартиры_и_аппартаменты">Квартиры и аппартаменты</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>