<div class="main-house">
    <div class="j-container">
        <div class="main-house-wrapper">
            <div class="main-house-title">Подход к каждому типу жилья</div>
            <div class="main-house-container">
                <div class="main-house-image">
                    <picture>
                        <source srcset="/assets/img/house/house-sm-min.png" media="(max-width: 479px)">
                        <source srcset="/assets/img/house/house-md-min.png" media="(max-width: 1023px)">
                        <source srcset="/assets/img/house/house-lg-min.png" media="(max-width: 1439px)">
                        <source srcset="/assets/img/house/house-xl-min.png">
                        <img src="/assets/img/house/house-xl-min.png" alt="">
                    </picture>
                </div>
                <div class="main-house-content">
                    <div class="j-tabs" data-theme="house">
                        <div class="j-tab-wrapper">
                            <div class="j-tab-content main-house-content__list" data-tab="Гостевые_дома" data-active>
                                <div class="main-house-content__title">Гостевые дома</div>
                                <div class="main-house-content__body">
                                    <ul>
                                        <li>С нашим позиционированием объект с маленьким номерным фондом будет востребован среди гостей</li>
                                        <li>Разные варианты сотрудничества</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="j-tab-content" data-tab="Базы_отдыха">
                                <div class="main-house-content__title">Базы отдыха</div>
                                <div class="main-house-content__body">
                                    <ul>
                                        <li>С нашим позиционированием объект с маленьким номерным фондом будет востребован среди гостей</li>
                                        <li>Разные варианты сотрудничества</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="j-tab-content" data-tab="Отели">
                                <div class="main-house-content__title">Отели</div>
                                <div class="main-house-content__body">
                                    <ul>
                                        <li>С нашим позиционированием объект с маленьким номерным фондом будет востребован среди гостей</li>
                                        <li>Разные варианты сотрудничества</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="j-tab-content" data-tab="Хостелы">
                                <div class="main-house-content__title">Хостелы</div>
                                <div class="main-house-content__body">
                                    <ul>
                                        <li>С нашим позиционированием объект с маленьким номерным фондом будет востребован среди гостей</li>
                                        <li>Разные варианты сотрудничества</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="j-tab-content" data-tab="Санатарии">
                                <div class="main-house-content__title">Санатарии</div>
                                <div class="main-house-content__body">
                                    <ul>
                                        <li>С нашим позиционированием объект с маленьким номерным фондом будет востребован среди гостей</li>
                                        <li>Разные варианты сотрудничества</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="j-tab-content" data-tab="Квартиры_и_аппартаменты">
                                <div class="main-house-content__title">Квартиры и аппартаменты</div>
                                <div class="main-house-content__body">
                                    <ul>
                                        <li>С нашим позиционированием объект с маленьким номерным фондом будет востребован среди гостей</li>
                                        <li>Разные варианты сотрудничества</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="j-tabs-list">
                            <button class="j-tab main-house-content__tab" data-target="Гостевые_дома" data-active>Гостевые дома</button>
                            <button class="j-tab main-house-content__tab" data-target="Базы_отдыха">Базы отдыха</button>
                            <button class="j-tab main-house-content__tab" data-target="Отели">Отели</button>
                            <button class="j-tab main-house-content__tab" data-target="Хостелы">Хостелы</button>
                            <button class="j-tab main-house-content__tab" data-target="Санатарии">Санатарии</button>
                            <button class="j-tab main-house-content__tab" data-target="Квартиры_и_аппартаменты">Квартиры и аппартаменты</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>