<div class="main-cost">
    <div class="j-container main-cost-container">
        <div class="main-cost-wrapper">
            <div class="main-cost-title">Стоимость размещения</div>
            <div class="swiper-container main-cost-list-wrapper">
                <div class="swiper-wrapper main-cost-list">
                    <div class="swiper-slide main-cost__item">
                        <div class="main-cost__item-title">Стандарт <br/> «Дом»</div>
                        <div class="main-cost__item-subtitle">Квартиры, дома целиком (приоритетные показы «Проверено»)</div>
                        <div class="main-cost__item-prices">
                            <div class="main-cost__item-price">3900 ₽</div>
                            <div class="main-cost__item-oldprice">5000 ₽</div>
                        </div>
                        <div class="main-cost__item-description">Вас найдут те, кто ценит уединенный отдых. Семьи, друзья, теплые компании под одной крышей вашего дома!</div>
                        <button data-ripplet class="ui-button ui-button_accent main-cost__item-action" data-modal-target="object" data-index="0">Разместить объект</button>
                    </div>
                    <div class="swiper-slide main-cost__item">
                        <div class="main-cost__item-title">Стандарт <br/> «Номера»</div>
                        <div class="main-cost__item-subtitle">Отели, гостевые дома и т.п. (приоритетные показы «Проверено»)</div>
                        <div class="main-cost__item-prices">
                            <div class="main-cost__item-price">6900 ₽</div>
                            <div class="main-cost__item-oldprice">7500 ₽</div>
                        </div>
                        <div class="main-cost__item-description">У вас уютно, удобно и весело! Давайте вместе сделаем всё, чтобы туристы стали вашими благодарными и постоянными клиентами</div>
                        <button data-ripplet class="ui-button ui-button_accent main-cost__item-action" data-modal-target="object" data-index="1">Разместить объект</button>
                    </div>
                    <div class="swiper-slide main-cost__item">
                        <div class="main-cost__item-title">Стандарт <br/> «Всегда в ТОПе»</div>
                        <div class="main-cost__item-subtitle">осталось 2 из 8 мест (в 3 раза больше просмотров и заявок)</div>
                        <div class="main-cost__item-prices">
                            <div class="main-cost__item-price">18900 ₽</div>
                            <div class="main-cost__item-oldprice">30000 ₽</div>
                        </div>
                        <div class="main-cost__item-description">Горячая распродажа всего 8 премиальных мест! Максимальное количество показов Вашего объекта по России и на всех разделах сайта. Вы всегда на вершине.</div>
                        <button data-ripplet class="ui-button ui-button_accent main-cost__item-action" data-modal-target="object" data-index="2">Разместить объект</button>
                    </div>
                </div>
            </div>
            <div class="main-cost-label">*Стоимость указана за год размещения на портале <a>ПриветТур.ру</a>
            </div>
        </div>
        <div class="main-cost-waves-decoration"></div>
        <div class="main-cost-semicircle-decoration"></div>
    </div>
</div>